# API CONFIG
API_HOST_PORT=<your_api_host_port_here>
API_CONTAINER_PORT=<your_api_container_port_here>

# DATABASE CONFIG
DATABASE_HOST=<your_database_host_here>
DATABASE_PORT=<your_database_port_here>
DATABASE_USER=<your_database_user_here>
DATABASE_PASSWORD=<your_database_password_here>
DATABASE_NAME=<your_database_name_here>

# REDIS CONFIG
REDIS_HOST=<your_redis_host_here>
REDIS_PORT=<your_redis_port_here>